@use '../custom' as *;
@use '../components/mixins' as *;

/* &================> Services Section <================& */

.services {
    .services-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2.5rem;

      .services-box {
        background-color: var(--main-color);
        min-height: 300px;
        @include flex(column, center, center, 1rem);
        border-radius: 3rem;
        border: 5px solid transparent;
        cursor: pointer;
        transition: var(--transition);
      
        &:hover {
          background: var(--white-color);
          color: var(--black-color);
          border: 5px solid var(--main-color);
        }
      
        .services-info {
          display: flex;
          flex-direction: column;
          max-height: 200px;
          justify-content: center;
          align-items: baseline;
          padding: 5rem 5rem;
          
          h4 {
            width: 100%;
            font-size: 3rem;
            font-weight: 800;
            line-height: 2;
            text-align: center;
          }
        
          p {
            font-size: 1.6rem;
            font-weight: 600;
            max-height: 100px;
            line-height: 1.7;
          }
        }
      }

    }
}