/* *=================> Fire Ring <=================* */

.ring {
    overflow: hidden;
    position: absolute;
    right: -30%;
    top: -50%;
    width: 58vw;
    height: var(--size);
    filter: url(#wavy) blur(1px);
    z-index: 0;
    will-change: transform, filter;
    -webkit-filter: url(#wavy) blur(1px);
    margin: 0;
    padding: 0;
  
    &:before, &:after {
      content: "";
      position: absolute;
      top: var(--s);
      left: var(--s);
      right: var(--s);
      bottom: var(--s);
      border-radius: 50%;
      border: var(--bor) solid #fff;
    }
  
    &:before {
      box-shadow: 0 0 var(--boxShadow) var(--main-color), inset 0 0 var(--boxShadow) var(--main-color);
      -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
      animation: move 10s linear infinite;
  
      /* Increase duration to reduce load */
    }
  
    &:after {
      box-shadow: 0 0 calc(var(--bor) / 2) #fff, inset 0 0 var(--bor) #fff;
    }
  }